extends _templates/master.pug
include _mixins/ie.pug
include _mixins/li.pug
//- include _mixins/mixins
//- include _mixins/mixinoculatos

//- index

block content
	.containe134fffrdf
		h1 Hola Mundo Nuevo sdfsdfsss
		+chau()
		+li()

		






		